html,body{
	margin:0 8 0 18px;
	background-color: #FFFFFF;
	overflow: hidden;
}
@font-face{
	font-family: 'Maison Light';
	src: url(../font/MaisonNeue-Light.ttf);
}
.logo{
	margin:40px 0 0 0px;
}
p {
	display: inline-block;
    font-weight: 250;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7;
	font-family: "Helvetica Neue";
	color: #707070;	
}
b{
	color: #26A2CB;
    font-weight:250;
}
b:hover {
	color: black;
	text-decoration: none;
}

#labels-container {
	position: absolute;
	width: 263px;
	right: 0;
	overflow: hidden;
	height:50px;
	margin-bottom: 15px;
	z-index: 99;
	font-family: "Maison Light";
	font-size: 16px;
	letter-spacing: 1.0px;
	color: #ABABAB;
}
.headerlabels {
	white-space: nowrap;
	display: flex;
	color: #ABABAB;
	position: relative;
	flex-direction:row;
}

.headerlabels a {
	text-decoration: none;
	color: #ABABAB;
}
.headerlabels a:hover {
	color: #FAFAFA;
	text-decoration: none;
}
#navbar img {
	width:68px;
}
#about_block {
	position: relative;
}
.profile {
	position:absolute;
	width: 300px;
	top:200;
}
.email {
	width:42px;
	height:42px;
	margin-left: 2px;
	margin-top: 3px;
}

.linkedin {
	width:28px;
	height:28px;
	margin-left: 2px;
	margin-top: 3px;
}
.resume {
	width:90px;
	height:35px;
	margin-left: 2px;
	margin-top: 2.5px;
}
.headerlabels div {
	margin: 29px 20px 0 10px;
}

.container{

}
