html,body{
	margin:0 8 0 18px;
	background-color: #FAFAFA;
	overflow: hidden;
}
@font-face{
	font-family: "Maison Light";
	src: url(../font/MaisonNeue-Light.ttf);
}
.logo{
	margin:40px 0 0 0px;
}
p {
	display: inline-block;
    font-weight: 250;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7;
	font-family: "Helvetica Neue";
	color: #707070;	
}

#labels-container {
	position: absolute;
	width: 280px;
	right: 8;
	overflow: hidden;
	height:130px;
	margin-bottom: 15px;
	z-index: 99;
	font-family: "Maison Light";
	font-size: 14px;
	letter-spacing: 1.75px;
	color: #707070;
}
.headerlabels {
	white-space: nowrap;
	display: flex;
	color: #707070;
	position: relative;
	width: 300px;
	flex-direction:row;
}

.headerlabels a {
	text-decoration: none;
	color: #707070;
}
.headerlabels a:hover {
	color: red;
	text-decoration: none;
}
#navbar img {
	width:68px;
}
#about_block {
	position: relative;
}
.profile {
	position:absolute;
	width: 300px;
	top:200;
}
.email {
	width:37px;
	height:36px;
	margin-left: 2px;
	margin-top: 3px;
}

.linkedin {
	width:40px;
	height:40px;
	margin-left: 2px;
	margin-top: 3px;
}
.resume {
	width:90px;
	height:35px;
	margin-left: 2px;
	margin-top: 2.5px;
}
.headerlabels div {
	margin: 29px 20px 0 10px;
}

.container{

}
