html,body{
	margin:0px;
	background: white;
	overflow: hidden;
}
body {
	background-color: #F05F72;
}

@keyframes wdd-animation {
	from{
		stroke-dashoffset: 400px;
		fill: none;
	}
	to {
		stroke-dashoffset: 0px;
	}
}

svg{
	stroke-dasharray: 400px;
	stroke-dashoffset: 0;
	animation: wdd-animation 8s;
	animation-fill-mode: forwards;
	fill: white;
}

#container{
	position:relative;
}

#landingback{
	position:absolute;
}

#landinglogo{
	position: absolute;
}