html,body{
	margin:0 8 0 18px;
	background-color: #FAFAFA;
}
@font-face{
	font-family: "Maison Light";
	src: url(../font/MaisonNeue-Light.ttf);
}
.logo{
	margin:40px 0 0 0px;
}
#info_block{
	position:relative;
}
.a1_body{
	width: 100%;
}

#labels-container {
	position: absolute;
	width: 280px;
	right: 8;
	overflow: hidden;
	height:130px;
	margin-bottom: 15px;
	z-index: 99;
	font-size: 14px;
	font-family: "Maison Light";
	letter-spacing: 1.75px;
	color: #707070;
}
.headerlabels{
	white-space: nowrap;
	display: flex;
	color: #707070;
	position: relative;
	width: 300px;
	flex-direction:row;
}

.headerlabels a {
	color: #707070;
}
.headerlabels a:hover {
	color: red;
	text-decoration: none;
}

.headerlabels div {
	margin: 29px 20px 0 10px;
}
.nonwork{
	text-decoration: line-through;
}

#navbar img {
	width:68px;
}