@font-face {
  font-family: "GalanoMedium";
  src: url(../font/GalanoGrotesque-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GalanoBold";
  src: url(../font/GalanoGrotesqueBold.otf);
  font-weight: 700;
  font-style: normal;
}

.side__nav {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side__nav--logo {
  margin-left: 10px;
  margin-bottom: 40px;
}

.social__contact {
  position: fixed;
  margin-left: 20px;
  top: 93%;
  /* margin-top: auto; */
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social__contact > a {
  text-decoration: none;
}

.side__nav > ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: auto;
}
.nav__item {
  list-style-type: none;
  line-height: 2rem;
  margin: 0 12px;
}
.nav__link {
  font-family: GalanoMedium;
  font-size: 14px;
  line-height: 18.9px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #404040;
  opacity: 0.3;
  transition: all 0.3s ease-out;
}

.nav__link:hover {
  opacity: 0.8;
  color: #404040;
}

.nav__link--active {
  font-family: GalanoBold;
  font-weight: bold;
  color: #404040;
  opacity: 0.8;
}

.toggleBtn {
  position: fixed;
  left: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 5px;
  padding: 0 5px;
  opacity: 0.3;
  transition: all 0.28s ease-in-out;
}
.toggleBtn:hover {
  opacity: 1;
}
