html {
  scroll-behavior: smooth;
}
@font-face {
  src: url(../Fonts/GalanoGrotesque-Thin.ttf);
  font-family: "Galano Grotesque";
  font-weight: 100;
}
@font-face {
  src: url(../Fonts/GalanoGrotesqueAlt-SemiBold.ttf);
  font-family: "Galano Grotesque";
  font-weight: bold;
}
@font-face {
  src: url(../Fonts/GalanoGrotesqueBold.otf);
  font-family: "Galano Grotesque";
  font-weight: 900;
}
@font-face {
  src: url(../Fonts/GalanoGrotesque-Light.ttf);
  font-family: "Galano Grotesque";
  font-weight: 300;
}
@font-face {
  src: url(../Fonts/GalanoGrotesque-Medium.ttf);
  font-family: "Galano Grotesque";
  font-weight: 500;
}
/* @font-face {
  src: url(../Fonts/GalanoGrotesque-Light.ttf);
  font-family: "Galano Grotesque";
  font-style: normal;
} */
@font-face {
  src: url(../Fonts/GalanoGrotesque-Light.ttf);
  font-family: "Galano Grotesque";
  font-weight: normal;
}
@font-face {
  src: url(../Fonts/TypeType-TT-Norms-Light.ttf);
  font-family: "TT Norms";
  font-weight: 300;
}
@font-face {
  src: url(../Fonts/TT-Norms-Medium.ttf);
  font-family: "TT Norms";
  font-weight: 500;
}
@font-face {
  src: url(../Fonts/TypeType-TT-Norms-Bold.ttf);
  font-family: "TT Norms";
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  background: #1f1f1f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-bg,
.headers-bg {
  background-image: url("../img/bg-research.png");
  background-position: 100% !important;
  background-size: cover;
  height: 302px;
  background-repeat: no-repeat;
  width: 100% !important;
  max-width: 100%;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  padding: 20px;
  color: white !important;
  cursor: pointer;
}
.links a {
  display: flex;
  vertical-align: middle;
  padding: 0 20px;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  letter-spacing: 0.04em;

  color: #c6c6c6;
}
.menu {
  position: fixed;
  margin-left: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 240%;
  font-family: "TT Norms";
  letter-spacing: 0.03em;
  cursor: pointer !important;
  color: #534d4d !important;
  font-weight: 300;
}

.active {
  color: #b9b9b9 !important;
  text-decoration: none;
  font-size: 14px;
  line-height: 240%;
  letter-spacing: 0.03em;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: bold;
}
a {
  text-decoration: none !important;
}
ul li {
  list-style: none;
  cursor: pointer !important;
}

.google-main {
  background: #1f1f1f;
  padding-bottom: 150px;
}
.google-sub {
  margin-left: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-1 {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.top-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #919191;
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: "Galano Grotesque";
  font-style: normal;
  font-weight: 500;
}
.main-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03em;
  margin-top: 80px;
  max-width: 364px;
  color: rgba(255, 255, 255, 0.8);
}
.text-1 h1 {
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: left;
  font-family: "Galano Grotesque";
  font-style: bold;
  font-weight: 900;
}
.text-1 button {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
  opacity: 0.8;
  background: transparent;
  border: 1px solid #bebebe;
  box-sizing: border-box;
  width: 230px;
  height: 40px;
  color: #ffffff;
  margin-top: 60px;
  cursor: pointer;
}
.links a p {
  position: relative;
}
.links a p:after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #979797;
  transition: 0.4s ease;
  color: #979797 !important;
}

.links a p:hover {
  color: #979797 !important;
}

.links a p:hover:after {
  width: 100%;
}

.text-1 button:hover {
  background-color: white;
  color: black;
}
.text-1 button:focus {
  outline: none;
}
.text-2 {
  margin-top: 300px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #919191;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.text-2 ul li {
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
  max-width: 279px;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.8);
  list-style: "・ ";
}
.text-3 {
  margin-top: 300px;
}
.text-3 p {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #919191;
}
.text-3 ul li {
  font-weight: normal;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.8) !important;
  list-style: "・  ";
}
.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image-gallery img {
  max-width: 100%;
}
.image-gallery .menu a {
  color: #b0b0b0 !important;
}
.main-overview {
  display: flex;
  flex-direction: column;
}
.overview-text {
  margin-left: 200px;
}
.overview-text h2 {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #303030;
  margin-top: 100px;
}
.overview-text p {
  font-size: 14px;
  line-height: 170%;
  color: #323232;
  max-width: 540px;
  margin-top: 40px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
}
.grey-background {
  background: #c4c4c4;
  height: 413px;
  width: 100%;
  margin-top: 130px;
}
.overview-sections {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-top: 160px;
  margin-right: 100px;
}
.overview-sections h4 {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #686868;
  margin-bottom: 10px;
}
.overview-sections p {
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #3d3d3d;
  max-width: 303px;
}
.section {
  margin-right: 20px;
  margin-bottom: 50px;
}
.learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 100px;
}
.learning-1 {
  margin-right: 130px;
}
.learning-1 h2 {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #303030;
}
.learning-2 {
  margin-bottom: 20px;
}
.learning-2 h3 {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #686868;
}
.learning-2 p {
  max-width: 300px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  /* or 24px */

  color: #3d3d3d;
}

.image {
  position: absolute;
  top: 78%;
}
.video-container {
  margin: 0 auto;
  margin-top: 500px;
  margin-left: 200px;
  margin-right: 100px;
  position: relative;
  padding-bottom: 55.25%; /* 16:9 */
  height: 0;
  display: flex;
  justify-content: center;
  padding-right: 0 !important;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 81%;
}
.background-athlete {
  background: linear-gradient(
      26.09deg,
      rgba(38, 162, 203, 0.9) 38.68%,
      rgba(38, 162, 203, 0) 100.65%
    ),
    url("../img/athlete.png");
  height: auto;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.challenge-text {
  margin-left: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.challenge-text h3 {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 30px;

  letter-spacing: 0.03em;

  color: #303030;
}

.challenge-text p {
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #242424;
  max-width: 540px;
}
.bg-text {
  margin-left: 200px;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 100px;
}
.stat1 {
  display: flex;
  flex-direction: column;
}
.stat1 p {
  font-weight: normal;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #9d9d9d;
  max-width: 350px;
}
.stat1 img {
  max-width: 100%;
}
.research-1 {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 40px;
}
.research-1 h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
  color: #303030;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
}
.research-1 p {
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  max-width: 550px;
  color: #242424;
}
.research-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 180px;
  margin-right: 80px;
  margin-top: 50px;
}

.div-1 {
  position: relative;
  margin-top: -20%;
  margin-left: 30%;
  background-color: #fafafa;
  z-index: 1;
}
.div-2 {
  position: relative;
  margin-top: -31%;
  margin-left: 20%;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #fafafa;
  z-index: 1;
}
.div-1 p,
.div-2 p {
  background-color: #fafafa;
}

.p1 {
  font-size: 14px;

  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #989898;
  margin-bottom: 20px;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
}
.p2 {
  font-weight: 280;
  max-width: 500px !important;
  font-size: 20px;
  line-height: 150%;
  color: #3d3d3d;
  margin-bottom: 10px;
  font-family: Galano Grotesque;
  font-weight: 300;
}
.research-3 {
  display: flex;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 200px;
}
.research-3 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  max-width: 550px;
  color: #242424;
  font-family: TT Norms;
  font-weight: 300;
}
.research-4 {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 150px;
}
.research-4 p {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 190%;
  font-family: Galano Grotesque;

  text-align: center;

  color: #242424;
}
.design,
.interaction {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 40px;
}
.design-2 {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}
.design h3,
.design-2 h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 32px;
  letter-spacing: 0.03em;
  color: #303030;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
}
.design p,
.design-2 p {
  max-width: 550px;
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #242424;
  font-family: TT Norms;
}
.design img,
.design-2 img {
  max-width: 100%;
  margin-top: 30px;
}
.design-bg {
  background-image: url("../img/bg-design.png");
  background-position: 100% !important;
  background-size: cover;
  height: 332px;
  background-repeat: no-repeat;
  width: 100% !important;
  max-width: 100%;
  margin-top: 80px;
}
.future-bg {
  background-image: url("../img/group.png");
  background-position: 100% !important;
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
  max-width: 100%;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}
.interaction1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.interaction1 img {
  max-width: 70%;
  margin-right: 40px;
}
hr {
  background-color: #4ba1ca !important ;
  height: 2px;
  width: 27%;
  border: none;
  margin-bottom: 5px;
}
.interaction-text {
  display: flex;
  flex-direction: column;
}
.interaction-text h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 170.94%;
  letter-spacing: 0.06em;
  color: #4ba1ca;
  font-family: Galano Grotesque;
}
.interaction-text p {
  font-size: 14px;
  line-height: 140%;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #242424;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
}

.future {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 40px;
}
.future p {
  font-weight: 300;
  font-size: 14px;
  line-height: 170%;
  color: #242424;
  max-width: 550px;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 300;
}
.future h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
  color: #303030;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
}
footer {
  width: 100%;
  background: #1f1f1f;
  height: 344px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer h2 {
  font-family: Galano Grotesque;
  font-style: normal;
  font-size: 35px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
footer h4 {
  font-family: Galano Grotesque;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.04em;
  opacity: 0.9;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}
.social {
  margin-top: 55px;
  margin-top: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1100px) {
  .google-sub,
  .overview-sections {
    flex-wrap: wrap;
  }
  .stats {
    flex-direction: column;
  }
  .stat1 {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .text-2 {
    margin-top: 100px;
  }
  .text-3 {
    margin-top: 100px;
  }
  .overview-sections {
    justify-content: center;
  }
  .text-2,
  .text-3 {
    margin-top: 50px !important;
  }
  .image {
    top: 85%;
  }
}
@media screen and (max-width: 1100px) {
  .interaction1 {
    flex-direction: column;
  }
  .interaction1 img {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .interaction1 p {
    max-width: 300px;
  }
  hr {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .image {
    top: 90%;
  }
}
@media screen and (max-width: 790px) {
  .text-3 {
    margin-top: 100px !important;
  }
  .google-sub,
  .overview-sections,
  .learning,
  .bg-text,
  .challenge-text,
  .stats,
  .research-2,
  .research-1,
  .research-3,
  .research-4,
  .design,
  .future,
  .future-bg,
  .interaction,
  .overview-text {
    margin-left: 100px;
    margin-right: 0px;
  }
  .research-4 p {
    text-align: left !important;
  }
  .video-container {
    margin-left: 50px;
    margin-right: 0px;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    height: 100%;
  }
  .text-2,
  .text-3 {
    margin-top: 50px !important;
  }
}
.learning-margin {
  margin-left: 31% !important;
}
@media screen and (min-width: 1210px) and (max-width: 1310px) {
  .learning-margin {
    margin-left: 31.4% !important;
  }
}
@media screen and (min-width: 1310px) and (max-width: 1340px) {
  .learning-margin {
    margin-left: 32% !important;
  }
}
@media screen and (min-width: 1341px) and (max-width: 1409px) {
  .learning-margin {
    margin-left: 32.4% !important;
  }
}
@media screen and (min-width: 1410px) and (max-width: 1440px) {
  .learning-margin {
    margin-left: 34.4% !important;
  }
}
@media screen and (min-width: 1441px) and (max-width: 6410px) {
  .learning-margin {
    margin-left: 35.2% !important;
  }
}

@media screen and (max-width: 1230px) {
  .learning {
    flex-direction: column;
    justify-content: center !important;
    margin: 0 auto;
    align-items: center;
    margin-left: 100px;
    margin-right: 0px;
  }
  .learning-margin {
    margin-left: 0 !important;
  }
  .learning-1 {
    margin-right: 0px;
    text-align: left !important;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 3740px) {
  .stats {
    margin-left: 300px;
    margin-right: 180px;
  }
}
@media screen and (max-width: 1350px) {
  .p2 {
    max-width: 400px !important;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77%;
  }
}
@media screen and (max-width: 1190px) {
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
  }
}
@media screen and (max-width: 1050px) {
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
  }
}
@media screen and (max-width: 900px) {
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
  }
}
@media screen and (max-width: 790px) {
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menu {
    margin-left: 10px;
  }
}
