html,body{
	background: #FAFAFA;
	overflow: hidden;
}
@keyframes wdd-animation {
	from{
		stroke-dashoffset: 2000px;
		fill: none;
	}
	to {
		stroke-dashoffset: 0px;
	}
}

@font-face{
	font-family: "Maison Light";
	src: url(../font/MaisonNeue-Light.ttf);
}
@font-face{
	font-family: "Maison Bold";
	src: url(../font/MaisonNeue-Bold.ttf);
}
@font-face{
	font-family: "Maison Medium";
	src: url(../font/MaisonNeue-Medium.ttf);
}
@font-face{
	font-family: "Maison Demi";
	src: url(../font/MaisonNeue-Demi.ttf);
}

svg{
	stroke-dasharray: 2000px;
	stroke-dashoffset: 0;
	animation: wdd-animation 6s;
	animation-fill-mode: forwards;
	fill: white;
}
#navbar{
	position: absolute;
	width: 280px;
	right: 0;
	overflow: hidden;
	height:130px;
	margin-bottom: 15px;
	z-index: 99;
	font-family: "Maison Light";
	font-size: 1px;
	letter-spacing: 1.75px;
	font-size: 14px;
}


#container{
	position:relative;
	
}
#homeback{
	position:absolute;
}

.headerlabels a:hover {
	color: red;
	text-decoration: none;
}

.headerlabels div {
	margin: 25px 20px 0 10px;
}

.about{
	display: flex;
	/*margin-left: 20%;*/
}
.work{
	display: flex;
	/*margin-left: 20%;*/
}
.nonwork{
	display: flex;
	/*margin-left: 20%;*/
}
#pagescroll{
	background: #88A09E;
	width:90%;
	height:100vh;
	margin-left: 5%;
	position: relative;
	z-index: 1;
	overflow:auto;
}

#bd {
	font-family: "Maison Light";
	color: #444345;
	letter-spacing:1.2px;
	position: absolute;
	font-weight:180;
	left: 49.2%;
	line-height:1.2;
	top: 34.2%;
	font-size: 1.2vw;
}
#bd a:hover {
	color: red;
	text-decoration: none;
}
#productdesign {
	font-family: "Maison Light";
	text-align:right;
	color: #444345;
	letter-spacing:1.2px;
	position: absolute;
	left: 33.4%;
	line-height:1.2;
	top: 62.4%;
	font-size: 1.2vw;
}
#productdesign a:hover {
	height: 70px;
   	width: 120px;
	color: red;
	text-decoration: none;
}
#contact {
	font-family: "Maison Light";
	color: #BFBFBF;
	letter-spacing:1.5px;
	position: absolute;
	left: 86%;
	line-height:1.2;
	top: 89.2%;
	font-size: 0.8vw;
}
#contact a:hover {
	color: red;
	text-decoration: none;
}



